<form class="search-block__form">
    <input class="search-block__input" id="search-field" placeholder="JavaScript, ghost, CSS ..."/>
    <a href="#" class="search-block__close">
        <i class="search-block__icon icon-close"></i>
    </a>
</form>

 <section id="results"></section>
