<form class="search-block__form">
    <div class="search-block__input-container">
        <input class="search-block__input" id="search-field" placeholder="javascript, ghost, CSS ..."/>
        <a href="#" class="search-block__close">
            <i class="search-block__icon icon-close"></i>
        </a>
    </div>
</form>

 <section class="results" id="results"></section>
